body {
font-family:serif;
color: #333
font-size: 1.2rem;
line-height: 1.4em;
margin: 0;
padding: 0;
}

header {
background: white;
background-color: #f2f2f2;

margin:0 0 0 0;
width: 100%;
padding: 0;
margin-top: 0;
}

.banner {
	width: 100%;
	display: block;
	min-width: 100%;
}

.banner .banner-image {
	width: 100%;
	display: block;
	height: 40%;
	min-width: 100%;
	align-items: center;
	border-radius: 10px;
}

nav {
position: relative;
float: left;
text-align: center;
width: 250px;
height: 900px;
overflow: hidden;
left: 0;
}

nav ul {
position: fixed;
margin:0;
padding: 0;
list-style: none;
}


nav ul li a {
margin: 30px 5px 5px 5px;
padding: 0.5rem 1rem;
transition: all 0.4s linear;
border-radius: 5px;
text-decoration: blink;
display: flex;
font-size: 30px;
text-transform: uppercase;
color: 000000;
}


nav ul li a:hover {
background: #4a4a4a;
}

footer {
	clear: both;
		background-color: #f2f2f2;
	text-align: center;
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0;


}

 footer p {
	text-align: right;
	margin: 5px 5px 5px 5px;
 }


main {margin-left: 100px;
}



.main-container {
	min-height: 100vh; /* will cover the 100% of viewport */
		overflow: hidden;
	 display: block;
	 position: relative;
	 padding-bottom: 100px; /* height of your footer */
}

.products {
display: flex;
flex-wrap: wrap;
font-size: 25px;
text-decoration:bold;
}

.products ul {
margin: 0px;

}

.products ul li {
width: 23%;
list-style: none;
float: left;
height: 300px;
margin: 40px 30px 0px 40px;
}

.products1 {
display: flex;
flex-wrap: wrap;
font-size: 25px;
text-decoration:bold;
}

.products1 ul {
margin: 0px;

}

.products1 ul li {

list-style: none;
float: left;
height: 300px;
margin: 40px 30px 0px 40px;
}

.products2 {
display: flex;
flex-wrap: wrap;
font-size: 25px;
text-decoration:bold;
}

.products2 ul {
margin: 0px;

}

.products2 ul li {

list-style: none;
float: left;
height: 300px;
margin: 40px 30px 0px 40px;
}

.bajo img{

	max-width: 100%;
	max-height: 100%;
}
.piano img{

	max-width: 100%;
	max-height: 100%;
}
.guitarra img{

	max-width: 100%;
	max-height: 100%;
}

.container{
	width: 1280px;


	flex-direction: row;
	flex-wrap: wrap;
}

.container .box {
position: relative;
width: 300px;
height: 300px;

margin: 10px;
box-sizing: border-box;
display: inline-block;
border: 1px solid black;
border-radius: 2%;
}

.container .box .imgBox {
position: relative;
overflow: hidden;


}

.products .container .box .imgBox li {
		margin-left: 36%;
	}

.products1 .container .box .imgBox li {
		margin-left: 15%;
		margin-top: 10%;
	}

.container .box .imgBox img {
max-width: 100%;
transition: transform 2s;

}

.products1 .container .box .imgBox img {
max-width: 150%;
width: 150%;
transition: transform 2s;

}

.container .box:hover .imgBox img {
transform: scale(1.2);
}

.container .box .details {
position: absolute;
top: 10px;
left: 10px;
bottom: 10px;
right: 10px;
background: rgba(0,0,0,.8);
transform: scaleY(0);
transition: transform .5s;
font-size: 15px;
}

.container .box:hover .details {
transform: scaleY(1);
}

.container .box .details .content {
position: absolute;
top: 50%;
transform: translateY(-50%);
text-align: center;
padding: 15px;
color: #fff;
}

.container .box .details .content h2{
margin:0;
padding:0;
font-size:20px;
color:#ff0;}
